<ion-header [style.opacity]="headerVisible ? 1 : 0">
  <ion-navbar [hideBackButton]="true">
    <ion-buttons start>
      <button *ngIf="bookmarks.length != 0" ion-button icon-only (click)="showBookmarks($event)">
        <ion-icon name="bookmarks"></ion-icon>
      </button>
      <button *ngIf="allowSaving" ion-button icon-only (click)="saveImage()">
        <ion-icon name="download"></ion-icon>
        <span *ngIf="showSaveLabel">{{this.tr._('Save')}}</span>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button *ngIf="allowSharing" ion-button icon-only (click)="shareImage()">
        <ion-icon ios="md-share" md="md-share"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon ios="ios-close-circle-outline" md="ios-close-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-slides #flipbook *ngIf="images.length != 0" (ionSlideDrag)="allowSliding()" (ionSlideDidChange)="slideChanged()">
  <ion-slide *ngFor="let image of images; let i = index;" (click)="slideTapped()">
    <img id="flipbook_slide_{{i}}" [attr.data-src]="image.url" zoom-pan />
  </ion-slide>
</ion-slides>

<ion-footer [style.opacity]="footerVisible ? 1 : 0">
  <div class="comments" [innerHtml]="sanitizer.bypassSecurityTrustHtml(comments)"></div>
</ion-footer>